html{

	body{

		section{

			position: relative;
			top: 100px;
			margin-bottom: 75px;

		}	

		.company-logo{

			width: 60px;
			margin-right: 30px;
			padding-left: 5px;

		}

		.company-logo:hover{

			cursor: pointer;

		}

		#trans_nav{

			a{

				padding-top:14px;
				padding-bottom:10px;

			}

			.active{

				a{

					background-image: none;
					background-color: transparent !important;
					color: #f29f1d !important;
					border: none;
					-webkit-box-shadow: none !important;
					box-shadow: none !important;
					text-shadow: 0px 0px 0 #000,
				    /* Simulated effect for Firefox and Opera
				       and nice enhancement for WebKit */
				   -1px -1px 0 #000,  
				    1px -1px 0 #000,
				   -1px  1px 0 #000,
				    1px  1px 0 #000;
					padding-top:14px;
					padding-bottom:10px;

				}

			}

		}

		#solid_nav{

			a{

				padding-top:10px;
				padding-bottom:10px;

			}

			.active{

				a{

					padding-top:10px;
					padding-bottom:10px;

				}

			}

		}

		.navbar-toggle:hover,
		.navbar-toggle:focus{

			background: transparent !important;

		}

		/*.navbar-inverse{*/

		#trans_head{

			padding-top: 10px;
			/*background: rgba(51,51,51,0.2) !important;*/
			/*border-color: rgba(51,51,51,0.2) !important;*/
			border: none !important;
			background: rgba(0,0,0,0.8);

			a{

				color: #ffffff !important;
				text-shadow: 0px 0px 0 rgba(0,0,0,.5),
				    /* Simulated effect for Firefox and Opera
				       and nice enhancement for WebKit */
				   -1px -1px 0 rgba(0,0,0,.5),  
				    1px -1px 0 rgba(0,0,0,.5),
				   -1px  1px 0 rgba(0,0,0,.5),
				    1px  1px 0 rgba(0,0,0,.5) !important;


			}

		}

		#solid_head{

			padding-top: 10px;

		}

		.solid-header{

			/*background: rgba(65,165,225,1) !important;*/
			/*background: rgba(21,21,21,1) !important;*/

		}

		.carousel-inner{

			position: fixed;

		}

		.tab-field{

			padding: 10px;

		}

		.tab-field-sides{

			padding-right: 10px;
			padding-left: 10px;

		}

		#container-login{

			transition: 2s;
			margin-bottom: 50px;

		}

		.mod_home{

			position: relative;
			top: 0px;
			margin-bottom: 0px !important;

		}

		.home_banner{

			background: url(../img/tools/banner8.jpg);
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			/*box-shadow: -1px 10px 25px #888888;*/
			z-index: -999;
			position: fixed;
			/*-webkit-filter: grayscale(100%);
			-moz-filter: grayscale(100%);
			-o-filter: grayscale(100%);
			-ms-filter: grayscale(100%);
			filter: grayscale(100%);*/

		}

			.home_banner_design{

				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff));
				height: 250px;
			  	position: fixed;
			  	z-index: 0;
			  	width: 100%;
			  	top: 200px;

			}

		.home_banner1{

			background: url(../img/tools/banner8.jpg);
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			/*box-shadow: -1px 10px 25px #888888;*/
			z-index: -999;
			position: fixed;
			-webkit-filter: blur(5px);
			-moz-filter: blur(5px);
			-o-filter: blur(5px);
			-ms-filter: blur(5px);
			filter: blur(5px);

		}

			.home_banner_design{

				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(100%, #fff));
				height: 250px;
			  	position: fixed;
			  	z-index: 0;
			  	width: 100%;
			  	top: 200px;

			}

		.prop_banner{

			background: url(../img/tools/banner6.jpg);
			min-height: 200px;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			box-shadow: -1px 10px 25px #888888;
			z-index: 999;

		}

		.mod_home_icons{

			text-align: left;

			.glyphicon{

				font-size: 10px;
				float: right;
				display: block;

			}

			.glyphicon:hover{

				cursor: pointer;

			}

			.mod_thumbnail{

				min-height: 100px;
				height: 300px;
				/*background-color: rgba(0,0,0, .7);*/
				border: none;
				border-radius: 0px;
				margin-bottom: 10px;
				text-align: left;

				.caption{

					color: #ddd;

				}

				hr{

					border: 0px solid #fff;

				}

			}

			.thumbnail{
				
				overflow: auto;
				background-color: rgba(0,0,0, .7);
				border: none;
				border-radius: 0px;

				.caption{

					color: #ccc;

					table{

						width: 100% !important;

					}

				}

			}

		}

		.mod_home_intro{

			/*text-align: center;*/
			color: #ffffff;
			text-shadow: 0px 0px 0 #000,
			/* Simulated effect for Firefox and Opera
			and nice enhancement for WebKit */
			-1px -1px 0 #000,  
			1px -1px 0 #000,
			-1px  1px 0 #000,
			1px  1px 0 #000;
			/*padding-top:10px;
			padding-bottom:10px;*/
			top: -50px;
  			position: relative;

			.mod_intro1{

				font-family: "droid_serifregular";
				font-style: italic;	

			} 
			.mod_intro2{

				/*font-family: "arial";
				font-size: 50px;
				font-weight: bold;*/
				padding: 5px;
				
				img{

					/*width: 250px; */
					width: 100%;

				}

			}

		}

		.login-form{

			position: relative;
			background: rgba(51,51,51,0.8) !important;
			margin-top: 70px;
			height: inherit;

			h4, a{

				color: #fff;

			}

		}

		.carousel-control, .carousel-indicators{

			position: fixed;

		}

		#myCarousel{

  			position: fixed;

		}

		.signup-background{

			

		}

		.signup-form-header{

			background: rgba(51,51,51,0.9) !important;
			position: relative;
			margin-top: 50px;
			border-radius: 5px 5px 0px 0px;

		}

		.signup-form{

			background: rgba(51,51,51,0.5) !important;
			position: relative;
			margin-bottom: 50px;
			border-radius: 0px 0px 5px 5px;

			h4, a{

				color: #ffffff;

			}

			.mod_title{

				color: #ffffff;

			}

			input[type=text], input[type=password], select, input[type=email], input[type=date] {

				background: rgb(250, 255, 189);

			}

		}

		.flash-notif{
			
			height: 30px;
			opacity: 1;
			line-height: 25px;
			transition: .5s;

		}

		.mod-navbar-nav{

  			font-weight: normal;

			a{

				padding: 14px 5px 20px 5px;
				color: #ffffff;

			}

		}

		.navbar-toggle{

			padding-top: 10px;
			border: none;

		}

		.right-side{

			border-left: 1px solid #333;
			min-height: 250px;

		}

		.mod_table{

			tr{

				word-break: break-word;

			}

		}

		.mod_tr{

			text-shadow: 0px 0px 0 rgba(0,0,0,.6);

			td{

				border: none;

			}

		}

		.mod_tr:hover{

			background: #444;
			cursor: pointer;

		}

		.mod_profile{

			/*top: -50px;
			margin-bottom: 50px;*/
			position: relative;
			top: 70px;
			margin-bottom: 75px;

			.mod_name{

				color: #000000;
				padding: 0px;
				font-weight: bold;

			}

			.mod_user{

				width: 100px;
				height: 100px;
				border-radius: 50%; 
				object-fit: cover; 
				object-position: center;
				background: #ffffff;

			}

			.mod_user_container{

				/*border: 4px solid rgba(256,256,256,.5);*/
				/*padding: 0px;*/
				padding-top: 25px;
				padding-bottom: 25px;
				margin-right: auto;
				margin-left: auto;
				display: block;
				text-align: center;

				img{

					margin-left: auto;
 					margin-right: auto;

				}

			}

			.mod_profile_bg{

				background: rgba(0,0,0,.7); /*#006699	;*/
				color: #ffffff;
				padding-top: 0px;

			}

			.mod_prof_details{

				label{

					width: 100px;

				}

			}

		}

		.click_tool:hover{

			cursor: pointer;

		}

		.prof_img{
			width: 60px;
		    height: 60px;
		    border-radius: 50%;
		    object-fit: cover;
		    object-position: center;
		    background: #ffffff;
		}

		.mod_user1{

			width: 50px;
			height: 50px;
			object-fit: cover; 
			object-position: center;

		}

		.mod_cover{

			background: url(../img/brands/banner1.jpg);
			background-repeat: no-repeat; 
			background-size: cover; 
			background-position: center; 
			min-height: 310px !important;

		}

		.mod_container{

			border: 5px solid #eee;
			min-height: 400px;
			padding: 0px;

			.mod_prop_title{

				background-color: rgba(0, 0, 0, 0.5);
				color: #fff;
				padding: 5px;
				font-size: 20px;

			}

		}

		.mod_prop{

			padding-top: 15px;
			padding-bottom: 25px;
			top: 70px;

		}

		.mod_prop1{

			padding-top: 0px;
			padding-bottom: 0px;
			top: 70px;

		}

		#load_img_left, #load_img_right{

			img{

				object-fit: cover;
	  			object-position: center;
				height: 400px !important;  

			}			

		}

		.load_img_left, .load_img_right{

			img{

				object-fit: cover;
	  			object-position: center;
				height: 300px !important;  

			}			

		}

		.img_details {

			overflow: auto;
			max-height: 235px; 
			height: 235px; 
			margin: 0px;

			hr{

				border: 0px solid #fff;

			}

		}

		.mod_announce{

			top: 10px;

			.mod_user{

				width: 50px;
				height: 50px;
				object-fit: cover; 
				object-position: center;

			}

			.mod_user_container{

				border: 2px solid #ffffff;
				padding: 0px;

			}

			.panel{

				background: rgba(3,3,3,0.5) !important;
				
				.panel-heading{

					background: rgba(0,40,60,0.5) !important;
					color: #fff;

				}

			}

			.panel-dark{

				border-color: #333;
				color: #fff;

			}

			.panel-dark > .panel-heading{

			  border-color: #333;
			  color: #fff;
			  background-color: rgba(3,3,3,0.5) !important;

			}

		}

		.mod_announce1{

			position: fixed;
  			top: 200px;
  			/*left: 100px;*/
  			z-index: 999;

		}

		.mod_cols{

			margin-bottom: 1px;
			text-shadow: 0px 0px 0 rgba(0,0,0,.6);

		}

		.mod_announcements{

			/*background: #f6f6f6;*/
			/*background: #006699;*/
			color: #fff;
			background-repeat: no-repeat; 
			background-size: cover; 
			background-position: center; 
			min-height: 70px !important;
			margin-top: 0px;
			text-align: center;
			z-index: 1;
			padding-top: 55px;
  			padding-bottom: 15px;

			.mod_announcements_1{

				/*background: rgba(0,0,0,0.8);*/
				text-shadow: 0px 0px 0 rgba(0,0,0,.6),
				    /* Simulated effect for Firefox and Opera
				       and nice enhancement for WebKit */
				   -1px -1px 0 rgba(0,0,0,.6),  
				    1px -1px 0 rgba(0,0,0,.6),
				   -1px  1px 0 rgba(0,0,0,.6),
				    1px  1px 0 rgba(0,0,0,.6);

			}

		}

		.mod_bg_announce{

			background: url(../img/tools/banner2.jpg);
			background-size: cover;
			background-position: center;
			position: fixed;
			width: 100%;
			background-repeat: no-repeat; 
			height: 100%;
			z-index: -1;
			top: 0px;

		}

		.mod_filter{

			/*background: #f6f6f6;*/
			/*background: #006699;*/
			/*color: #fff;*/
			margin-top: 70px;
			text-align: center;
			z-index: 1;
			padding-top: 10px;
			padding-bottom: 5px;
			min-height: 10px;

		}

		.mod_nfilter{

			/*background: #f6f6f6;*/
			/*background: #006699;*/
			color: #fff;
			margin-top: 0px;
			text-align: center;
			z-index: 1;
			padding-top: 90px;
			padding-bottom: 5px;
			min-height: 10px;

			text-shadow: 0px 0px 0 rgba(0,0,0,.6),
				    /* Simulated effect for Firefox and Opera
				       and nice enhancement for WebKit */
				   -1px -1px 0 rgba(0,0,0,.6),  
				    1px -1px 0 rgba(0,0,0,.6),
				   -1px  1px 0 rgba(0,0,0,.6),
				    1px  1px 0 rgba(0,0,0,.6);

			small, strong{

				color: #fff;
				font-weight: bold;

			}

		}

		.data_click{

			cursor: pointer;

		}

		.data_click:hover{

			background: rgba(4,4,4,.5);

		}

		.confirmation{

			text-shadow: 0px 0px 0 rgba(0,0,0,.6),
				    /* Simulated effect for Firefox and Opera
				       and nice enhancement for WebKit */
				   -1px -1px 0 rgba(0,0,0,.6),  
				    1px -1px 0 rgba(0,0,0,.6),
				   -1px  1px 0 rgba(0,0,0,.6),
				    1px  1px 0 rgba(0,0,0,.6);

			small, strong{

				color: #fff;
				font-weight: bold;

			}

		}

		.alter_filter{

			text-align: left;

		}

		.request{

			padding-bottom: 25px;

		}

		.mod_request{

			position:relative;
			top: 10px;
			margin-bottom: 0px !important;

		}

		.mod_nrequest{

			position:relative;
			top: 0px;
			color: #fff !important;

			text-shadow: 0px 0px 0 rgba(0,0,0,.6),
				    /* Simulated effect for Firefox and Opera
				       and nice enhancement for WebKit */
				   -1px -1px 0 rgba(0,0,0,.6),  
				    1px -1px 0 rgba(0,0,0,.6),
				   -1px  1px 0 rgba(0,0,0,.6),
				    1px  1px 0 rgba(0,0,0,.6);

			small, strong{

				color: #fff;
				font-weight: bold;

			}

			.panel{

				border: 0px solid transparent;

				.panel-heading{

					border-radius: 0px;

				}

			}

		}

		.mod_bg{

			padding: 20px;
			background: rgba(0,0,0,.8);

		}

		.mod_bg1{

			padding: 0px;
			background: rgba(0,0,0,.8);
			margin-bottom: 20px;

		}

		.default-bg{

			background-size: cover;
			background-position: center;
			background: #eee;
			border: 1px solid #ddd;
			padding: 20px;
			height: 100%;

		}

		.addconcern{

			background: #eee;
			border: 1px solid #ddd;
			padding: 10px;


		}

		.contact_banner, .contact_banner1{

			top: 70px;
			position: relative;
			height: 100%;
			background-position: center;

		}

		.contact_banner1{

			text-align: right;

		}

		.contacts{
			background: rgba(3,3,3,0.7);
			color: #ffffff;
			min-height: 170px;
			border: 5px ridge #333;
			margin-bottom: 10px;
			word-wrap: break-word;
		}

		.endorse{

			min-height: 100px;
			background: rgba(0, 0, 0, .65);
			/*padding: 10px;*/
			width: 100%;
			/*bottom: -227px;*/
			position: relative;
			color: #ffffff;

		}

		.contact{

			position: relative;
			top: 0px;
			margin-bottom: 120px;
			height: 100%;

		}

		.form-group{

			text-align: left !important;

		}

	}

	.pagination-dark{

		.pagination{

			a{

				background: rgba(4,4,4,.6);
				border: #333;
				color: #fff;

			}

			a:hover{

				background: rgba(4,4,4,1);

			}

			.active{
				a{ 
					background: rgba(4,4,4,1);
				}
			}

		}

	}

	.panel-dark{

        background-color: rgba(3,3,3,0.5) !important;
		border: 1px solid #000 !important;
		color: #fff;

		.table{
			tr{
				th,td{
					border: none;
				}
			}
		}

	}

	.panel-dark > .panel-heading{

	    border-color: #333;
	    color: #fff;
        background-color: rgba(3,3,3,0.8) !important;

	}



	.panel-green{

		border-color: #4f6228;
		color: #fff;
		border-radius: 0px;

	}

	.panel-green > .panel-heading{

	    /*border-color: #477519;*/
	    color: #fff;
	    background-color: #4f6228;
		border-radius: 0px;

	}

	.mod_section{

		top: -25px !important;
		position: relative;
		margin-bottom: 0px;
 
	}

	.loader{

		img{

			width: 10px;

		}

	}

	#attach_loader{

		width: 20px;
		margin-left: auto;
		margin-right: auto;

	}

	.mod_captcha{

		padding: 10px;
		/*background-color: rosybrown;*/
		background: url(../img/tools/goodcaptcha.gif);
		font-family: aria;
		text-decoration: line-through;
		font-weight: bold;
		text-align: center;
		font-size: 30px;
		background-position: center;
  		background-size: cover;

	}

	.load_reply{

		min-width: 720px; 
		display: none;
		padding-top: 10px;
		padding-bottom: 10px;
		/*background: rgba(0,0,0,.5);*/

	}

	.profile_image{
		position: relative;
  		top: -25px;
  		cursor: pointer;
  		font-size: 20px;
  		text-shadow: 0px 0px 5px #333,
			/* Simulated effect for Firefox and Opera
			and nice enhancement for WebKit */
			0px 0px 5px #333,  
			0px 0px 5px #333,
			0px 0px 5px #333,
			0px 0px 5px #333;

	}

	.profile_image:hover{

		color: #aaa;

	}

	.property_image{
		position: relative;
		top: -28px;
		cursor: pointer;
		font-size: 20px;
		left: 10px;
	}

	.property_image:hover{

		color: #aaa;

	}

	/*Header*/

	.page_loader{

	    position: fixed;
	    top: 0;
	    padding: 10%;
	    min-height: 100%;
	    background: rgba(0,0,0,0.5);
	    width: 100%;
	    z-index: 999;
	    text-align: center;
	    display: none;

	}

	/*Header*/ 

	/*sidebar*/

	.custom-sides{

		border-left: 0.5px solid #337ab7;
		min-height: 100px;

	}

	.announcement{

		max-height: 250px;
		overflow-y: auto;

	}

	/*sidebar*/

	/*Footer*/

	footer{

		color: #fff;
		padding: 0px;
		margin: 0px;

	}

	/*Footer*/

	/*mod scrollbar*/

	::-webkit-scrollbar {
	    width: 5px;
	    height: 5px;
	}

	::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(21, 21,21,1); 
	}

	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(221,221,221,1); 
	    border-radius: 10px;
	}

	/*mod scrollbar*/

	/*mod columns with class*/

	.col-md-3{

		.announcement{

			max-height: 170px;

		}

	}

	/*mod columns with class*/

	/*MODED commentbox

	.detailBox {
	    width:320px;
	    border:1px solid #bbb;
	    margin:50px;
	}
	.titleBox {
	    background-color:#fdfdfd;
	    padding:10px;
	}
	.titleBox label{
	  color:#444;
	  margin:0;
	  display:inline-block;
	}

	.commentBox {
	    padding:10px;
	    border-top:1px dotted #bbb;
	}
	.commentBox .form-group:first-child, .actionBox .form-group:first-child {
	    width:80%;
	}
	.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
	    width:18%;
	}
	.actionBox .form-group * {
	    width:100%;
	}
	.taskDescription {
	    margin-top:10px 0;
	}
	.commentList {
	    padding:0;
	    list-style:none;
	    max-height:200px;
	    overflow:auto;
	}
	.commentList li {
	    margin:0;
	    margin-top:10px;
	}
	.commentList li > div {
	    display:table-cell;
	}
	.commenterImage {
	    width:30px;
	    margin-right:5px;
	    height:100%;
	    float:left;
	}
	.commenterImage img {
	    width:100%;
	    border-radius:50%;
	}
	.commentText p {
	    margin:0;
	}
	.sub-text {
	    color:#aaa;
	    font-family:verdana;
	    font-size:11px;
	}
	.actionBox {
	    border-top:1px dotted #bbb;
	    padding:10px;
	}

	MODED commentbox*/


}