.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}

footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.panel-red{

  border-color: #d9534f;
  background-color: #ffffff;

}

.panel-red > .panel-heading{

  border-color: #d9534f;
  color: #fff;
  background-color: #d9534f;

}

.panel-red .panel-footer a{

  color: #d9534f;

}

.panel-red .panel-footer a:hover{

  color: #d9534f;

}

.panel-yellow{

  border-color: #f0ad4e;
  background-color: #ffffff;

}

.panel-yellow > .panel-heading{

  border-color: #f0ad4e;
  color: #fff;
  background-color: #f0ad4e;

}


.panel-yellow .panel-footer a{

  color: #f0ad4e;

}

.panel-green{

  border-color: #5cb85c;
  background-color: #ffffff;

}

.panel-green > .panel-heading{

  border-color: #5cb85c;
  color: #fff;
  background-color: #5cb85c;

}

.panel-green .panel-footer a{

  color: #5cb85c;

}

.panel-lblue{

    background-color: #ffffff;
    border-color: #46b8da;

}

.panel-lblue > .panel-heading{

  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;

}

.panel-lblue .panel-footer a{

  color: #5bc0de;

}


.panel-brown{

    background-color: #ffffff;
    border-color: #8B4513;

}

.panel-brown > .panel-heading{

  color: #fff;
  background-color: #A0522D;
  border-color: #8B4513;

}

.panel-brown .panel-footer a{

  color: #A0522D;                                                         

}

.home-icons .glyphicon{

  font-size: 50px;

}

.home_labels{

  text-align: right;

}

.home_counter{

  font-size: 30px;

}

.panel .panel-footer .glyphicon-circle-arrow-right{

  font-size: 20px;

}

.toggle_filter:hover{

  cursor: pointer;

}

.active{

  background-color: #eee !important;

}

.data_click:hover{

  cursor: pointer;
  background: #eee;

}

.data_click td,
.data_noclick th{
  white-space: normal !important;
  word-wrap: break-word; 
}

.custom_label{

  width: 150px;

}

#page_loader{

  position: fixed;
  top: 0;
  padding: 10%;
  min-height: 100%;
  background: rgba(0,0,0,0.5);
  width: 100%;
  z-index: 999;
  text-align: center;
  display: none;

}

#loading,
#search,
#load_filter,
#process,
#load_ {

  display: none;

}

.alert-danger1{

  background: #d43f3a;
  color: #ffffff;
  background-color: #d9534f;

}

.age_green{
  color: #5cb85c;
}

.age_red{
  color: #d9534f;
}

.carousel_cam{
  color: #fff;
  position: relative;
  top: -100px;
  left: -106px;
  font-size: 25px;
  text-shadow: 0px 0px 5px #333, 
               0px 0px 5px #333, 
               0px 0px 5px #333, 
               0px 0px 5px #333, 
               0px 0px 5px #333;
}

.carousel_cam:hover{
  cursor: pointer;
  text-shadow: 0px 0px 5px #FFFFFF, 
               0px 0px 5px #FFFFFF, 
               0px 0px 5px #FFFFFF, 
               0px 0px 5px #FFFFFF, 
               0px 0px 5px #FFFFFF;
  color: #333;
}

.carousel_thumbnail{
  text-align: center;
  background: #eeeeee; 
  height: 250px;
}

.carousel_thumbnail:hover{
  color: #eeeeee;
  background: #333;
  cursor: pointer;
}

.carousel_add:hover{
  cursor: pointer;
}