<div class="wrapper contact"> 
    <div class="main">
      
      <myarticle class="page1 mod_section">
        <div class="contact_banner" style="background: url(../assets/img/tools/banner1.jpg); background-size: cover; background-position: center;">

          <div class="endorse">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Brittany</h2>
                  <span><strong>Mobile</strong> (+63) 917 223-4510</span>
                  &emsp;
                  <span><strong>Tel</strong> (02) 226 3552</span>
                  &emsp;
                  <span><strong>Email</strong> sample@brittany.com.ph</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </myarticle>
      
      <myarticle class="page2 mod_section">
        <div class="contact_banner1 " style="background: url(../assets/img/tools/camella.jpg); background-size: cover; background-position: center;" id="scroll1">

          <div class="endorse">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Camella</h2>
                  <span><strong>Mobile</strong> (+63) 917 857-6494</span>
                  &emsp;
                  <span><strong>Tel</strong> (02) 226 3552</span>
                  &emsp;
                  <span><strong>Email</strong> camellachatsupport@camella.com.ph</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </myarticle>
      
      <myarticle class="page3 mod_section">
        <div class="contact_banner" style="background: url(../assets/img/tools/banner3.jpg); background-size: cover; background-position: center;">

          <div class="endorse">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Brittany</h2>
                  <span><strong>Mobile</strong> (+63) 917 223-4510</span>
                  &emsp;
                  <span><strong>Tel</strong> (02) 226 3552</span>
                  &emsp;
                  <span><strong>Email</strong> sample@brittany.com.ph</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </myarticle>

      <myarticle class="page4 mod_section">
        <div class="contact_banner1" style="background: url(../assets/img/tools/crownasia.jpg); background-size: cover; background-position: center;" id="scroll2">

          <div class="endorse">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <h2>Crown Asia</h2>
                  <span><strong>Mobile</strong> (+63) 917 857-6494</span>
                  &emsp;
                  <span><strong>Tel</strong> (02) 226 3552</span>
                  &emsp;
                  <span><strong>Email</strong> camellachatsupport@camella.com.ph</span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </myarticle>
      
    </div>
  </div>

   <script>
   onePageScroll(".main", {
     sectionContainer: "myarticle",
     loop: true,
     responsiveFallback: false
   });
    
  </script>

  