@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}


@mixin text-shadow($size){
	text-shadow: 1px 1px $size #3c3636;
	-o-text-shadow: 1px 1px $size #3c3636;
	-ms-text-shadow: 1px 1px $size #3c3636;
	-moz-text-shadow: 1px 1px $size #3c3636;
	-webkit-text-shadow: 1px 1px $size #3c3636;

}


@mixin set-sprite-dimensions( $map, $name ) { 
	 $file: sprite-file($map, $name);
	 width: image-width( $file );
	 height: image-height( $file );
}
