/*define by jason*/

/* ---Divisible by 5 grid--- */
.col-xs-15,.col-sm-15,.col-md-15,.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
.panel-heading h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: normal;
  width: 30%;
  padding-top: 8px;
}
/* ---Divisible by 5 grid--- */

/* ---Notification Badge--- */
.badge1 {
   position:relative;
}
.badge1[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-25px;
   right:-13px;
   font-size:.7em;
   font-family: helvetica;
   background:radial-gradient(circle at 100px 100px, #FF0000, #F12121);
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 5px #5C5C5C;
   border-color: white;
   border:.08em solid;
}
.badge1[data-badge=""]:after {
content: none;
}
/* ---Notification Badge--- */

/* ---For Add Remove of Business Entity--- */
.selector-box{
    background: #F8F8F8;
    margin: auto;
    width: 100%;
    height: 300px;
    display: block;
    padding: 5px 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 2px 1px 0 #DDDDDD;
    -moz-box-shadow: inset 0 2px 1px 0 #DDDDDD;
    box-shadow: inset 0 2px 1px 0 #DDDDDD;
}
.selection-box{
    margin: 20px auto;
    width: 100%;
    height: 300px;
    display: block;
    padding: 5px;
}
/* ---For Add Remove of Business Entity--- */

/* ---For Carousel--- */
.carousel {
    z-index: -99;
}
.carousel .next, .carousel .prev {
    left:0;
    opacity:1;
    z-index:1;
}
.carousel-fade .item {
  -webkit-transition: opacity ease-in-out .7s;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
}
.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
/* ---For Carousel--- */

.nop4d{
  padding: 0px;
}

/* ---For Imaging Display--- */
.prof{
  margin: 50px 0px;
}
.prof-img{
  width: 167px;
  height: 167px;
  border-style: solid;
  border-width: 10px;
  border-radius:  50%;
  border-color: #F2F2F2;
}
.prof-fname{
  text-align: justify;
  font-size:  50px;
  font-variant: small-caps;
  font-weight:  600;
}
.prof-lname{
  text-align: justify;
  font-size:  30px;
  font-variant: small-caps;
  font-weight:  600;
}
.profile_img{
  top:-169px;
  right: -140px;
  cursor: default;
  padding-right: 3px;
  color: #808080;
  visibility: hidden;
}
html body .hov {
  box-shadow: 0px 0px 8px #CCCCCC;
} 
html body .hove {
  color: #000000;
}
html body .sho {
  visibility: visible;
}
/* ---For Imaging Display--- */

/* ---For Sticky Footer--- */
* {
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
}
.wrapper {
  min-height: 80%;
  height: auto !important;
}
.footer, .push {
  height: 4em;
}
.footer, .push {
  clear: both;
}
.wrapper1 {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -6em;
}

.ann_item{
  position: relative;
  word-wrap:break-word;
  background-color:#FFFFFF;
  margin:10px 0px 0px;
  border: solid 1px #CCCCCC;
 
}
.ann_control{
  text-align:center;
  display: none;
  cursor: pointer;
  padding-right: 17px;
  color: #A3A3A3;
}
.shoCon{
  max-height: 100%;
  position: absolute;
  z-index: 1;
  text-align:center;
  display: block;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(1, 0, 0, 0.1) 100%);
  background-repeat: repeat-x;
    left: auto;
    right: 0;
    height: 41px;
}
.ann_content{
  padding: 0px 15px 10px;
  white-space: normal;
  overflow: hidden;
  height: 250px;
  overflow: auto;
}
a.morelink {
  text-decoration:none;
  font-style: italic;
  outline: none;
}
.morecontent span {
  display: none;

}
.more{
  margin-right: 17px;
}
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.prof_thumb{
  height: 50px;
  width:  50px;
  border-radius: 50%;
  position: relative;
  top:-5px;
  object-fit: cover;
}
.nav-pheader{
  position: relative;
  top: -15px;
}
.cssload-jumping{
  position:relative;
  display:none;
  margin: 5px auto;
  width:107px;

}
  
.cssload-jumping, .cssload-jumping * {
  box-sizing: border-box;
}

.cssload-jumping span {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: rgb(0,187,255);
  border-radius: 487px;
  background-clip: padding-box;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
  animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
  animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
  animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
  animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
  animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -o-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -ms-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -webkit-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}



@keyframes scale {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.9, 0.9);
    background: rgb(0,225,255);
  }
  50% {
    transform: scale(1, 1);
    margin: 0 3px;
    background: rgb(0,123,255);
  }
  100% {
    transform: scale(0);
  }
}

@-o-keyframes scale {
  0% {
    -o-transform: scale(0);
  }
  25% {
    -o-transform: scale(0.9, 0.9);
    background: rgb(0,225,255);
  }
  50% {
    -o-transform: scale(1, 1);
    margin: 0 3px;
    background: rgb(0,123,255);
  }
  100% {
    -o-transform: scale(0);
  }
}

@-ms-keyframes scale {
  0% {
    -ms-transform: scale(0);
  }
  25% {
    -ms-transform: scale(0.9, 0.9);
    background: rgb(0,225,255);
  }
  50% {
    -ms-transform: scale(1, 1);
    margin: 0 3px;
    background: rgb(0,123,255);
  }
  100% {
    -ms-transform: scale(0);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.9, 0.9);
    background: rgb(0,225,255);
  }
  50% {
    -webkit-transform: scale(1, 1);
    margin: 0 3px;
    background: rgb(0,123,255);
  }
  100% {
    -webkit-transform: scale(0);
  }
}

@-moz-keyframes scale {
  0% {
    -moz-transform: scale(0);
  }
  25% {
    -moz-transform: scale(0.9, 0.9);
    background: rgb(0,225,255);
  }
  50% {
    -moz-transform: scale(1, 1);
    margin: 0 3px;
    background: rgb(0,123,255);
  }
  100% {
    -moz-transform: scale(0);
  }
}
.cont-img{
  width:320px;
  height:90px;
  margin:auto;
  position: relative;
  box-shadow: 2px 5px 5px black;
}
#brit{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/brands/brittany.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}
#cam{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/brands/Camella1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}
#crown{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/brands/crownasia.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}
#vista{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/brands/vistares.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}
#comm{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/brands/communities.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}
#lum{
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../img/brands/lumina.JPG");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.uprev_box{
  width: 175px;
  height: 120px;
  border: 1px solid #e5e5e5;
  position: relative;
  box-shadow: 5px 5px 5px #f5f5f5;
}
.uprev{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
    background-position: center;
    background-color: white;
}
.prevdet{
  background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    height: 28px;
    left: 0;
    position: absolute;
    right: 0;
    top: 89px;
    display: none;
    font-size: 12px;
}
.uprev img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    object-fit: cover;
}
.upthumb{
    bottom: -3px;
    color: #990000;
    display: inline-block;
    font-size: 20px;
    left: 5px;
    vertical-align: middle;
    position: relative;
}
.uprem{
    color: #a3a3a3;
    display: inline-block;
    font-size: 12px;
    right: 5px;
    top: 8px;
    vertical-align: middle;
    cursor: pointer;
    position: absolute;
}
.uplabel{
    display: inline-block;
    left: 5px;
    margin: 0 auto;
    position: relative;
    top: 3px;
    vertical-align: middle;
}
.anc{
  color:#337ab7;
}
table > tbody > tr > td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}