@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600,700&subset=latin,latin-ext");

body,input,textarea,select,button,.normal{
	font-family:"Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size:13px;
	color:#3d464d;
	font-weight:normal
}
body{
	background-color:#fff;
	min-height:100%;
	margin:0;
	padding:0
}
a,a *{
	cursor:pointer;
	outline:none
}
a{
	color:#2895F1;
	text-decoration:none
}
a:focus{
	text-decoration:underline
}
a img{
	border:0
}
p,h1,h2,h3,h4,h5{
	margin:0 0 1em 0;
	line-height:1.6em
}
h1{
	font-size:18pt;
	font-weight:normal;
	margin:10px 0
}
h2{
	padding-top:3px;
	padding-bottom:10px;
	margin-bottom:4px;
	font-size:10pt
}
h3{
	padding:0;
	margin:0;
	font-size:10pt
}
h4{
	margin:0 0 0.5em 0;
	font-weight:bold;
	font-size:14px
}
h5{
	margin:0 0 0.5em 0;
	font-weight:bold;
	font-size:12px
}
input[type=password]{
	font-family:arial, sans-serif
}
button{
	border:0;
	width:auto;
	overflow:visible;
	border-style:solid;
	outline:0
}
form{
	padding:0;
	margin:0
}
label{
	cursor:default
}
noscript{
	font-size:13px;
	font-weight:normal
}
.carousel *{
	font-family:"Gotham","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
}
.carousel a{
	color:#0bacff
}
.clearfix:before,.clearfix:after{
	content:" ";display:table
}
.clearfix:after{
	clear:both
}
.link-img{
	vertical-align:middle;
	background-color:#fff;
	margin:-2px 0 0 0;
	padding-right:4px;
	background-repeat:no-repeat
}
body{
	color:#444;
	font-size:16px;
	font-weight:normal;
	text-align:center;
	width:100%
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	body{
		font-size:38px
	}
}
div.figure{
	margin:40px 0 0;
	padding:0
}
div.figure img{
	height:auto;
	max-width:100%
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	div.figure img{
		width:80%
	}
}
#errorbox{
	line-height:1.6em;
	margin:0 auto;
	max-width:600px;
	padding:0 20px;
	text-align:left
}
#errorbox a{
	color:#2895F1;
	text-decoration:none
}
#errorbox h1{
	color:#222;
	font-size:1.5em;
	font-weight:normal;
	margin:10px 0
}