section{
	min-width: 740px;
}

.inner_container_6 {
	margin-left: auto;
	margin-right: auto;
}

.custom_grid_1,
.custom_grid_2,
.custom_grid_3,
.custom_grid_4,
.custom_grid_5,
.custom_grid_6{
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
}

.inner_container_6 .custom_grid_1 {
	width: 103.3333333333px;
}

.inner_container_6 .custom_grid_2 {
	width: 226.6666666667px;
}

.inner_container_6 .custom_grid_3 {
	width: 350px;
}

.inner_container_6 .custom_grid_4 {
	width: 473.3333333333px;
}

.inner_container_6 .custom_grid_5 {
	width: 596.6666666667px;
}

.inner_container_6 .custom_grid_6 {
	width: 720px;
}
