.inner_grid {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

.inner_grid_1,
.inner_grid_2,
.inner_grid_3,
.inner_grid_4,
.inner_grid_5,
.inner_grid_6,
.inner_grid_7,
.inner_grid_8,
.inner_grid_9,
.inner_grid_10,
.inner_grid_11,
.inner_grid_12 {

	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
	margin-right: 10px;

}

.inner_grid .inner_grid_1 {
	width: 58.3333333333px;
}

.inner_grid .inner_grid_2 {
	width: 136.666666666px;
}

.inner_grid .inner_grid_3 {
	width: 215px;
}

.inner_grid .inner_grid_4 {
	width: 293.333333333px;
}

.inner_grid .inner_grid_5 {
	width: 371.666666666px;
}

.inner_grid .inner_grid_6 {
	width: 450px;
}

.inner_grid .inner_grid_7 {
	width: 528.333333333px;
}

.inner_grid .inner_grid_8 {
	width: 606.666666666px;
}

.inner_grid .inner_grid_9 {
	width: 684px;
}

.inner_grid .inner_grid_10 {
	width: 763.333333333px;
}

.inner_grid .inner_grid_11 {
	width: 841.666666666px;
}

.inner_grid .inner_grid_12 {
	width: 920px;
}

