body{
	
	$webfont: 'open_sansregular';

	.def-section{

		margin-top: 0px;
		margin-bottom: 75px;

	}

	section{

		min-height: 510px;
		margin-top: 120px;

		article{

			margin-top: 0px;

		}

		.form-title{

			padding: 10px;
			font-weight: bold;
			background: -webkit-linear-gradient(top, #004AB8 0, #002C6E 100%);
			background: -moz-linear-gradient(top, #004AB8 0, #002C6E 100%);
			background: -o-linear-gradient(top, #004AB8 0, #002C6E 100%);
			background: linear-gradient(top, #004AB8 0, #002C6E 100%);
			color: #fff;

		}

		.form-sub-title{

			padding: 10px;
			font-weight: bold;
			background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
			background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
			background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
			background: linear-gradient(top, #428bca 0, #2d6ca2 100%);
			color: #fff;

		}

		.form-field-title{

			padding: 10px;
			font-weight: bold;
			background: -webkit-linear-gradient(top, #AC8719 0, #664C00 100%);
			background: -moz-linear-gradient(top, #AC8719 0, #664C00 100%);
			background: -o-linear-gradient(top, #AC8719 0, #664C00 100%);
			background: linear-gradient(top, #AC8719 0, #664C00 100%);
			color: #fff;

		}

		.form-fields{

			.panel{

				input[type=text], input[type=email]{

					margin: 12px;
					width: 315px;

				}

				.btn{

					float: none;
					min-width: 70px;
					margin-left: 12px;

				}

				#recaptcha_widget_div{

					margin-left: 10px;

				}

				.panel-heading{

					h2{

						margin: 0px;
						padding: 0px;

					}

				}

			}

			label{

				border: none;
				box-shadow: none;
				background: none;
				margin-bottom: 12px;
				color: #AC8719;

			}

			.control{

				font-size: 10px;

			}

			input[type=text], input[type=email], input[type=password], select{

				margin-bottom: 0px;
				width: 380px;

			}

			input[type=submit]{

				margin-bottom: 12px;

			}

			h6{

				margin: 10px 5px 5px 15px;

			}

			h2{

				span{ 

					font-weight: bold;

				}

			}

			h5{

				margin: 0;

			}

			span{

				line-height: 12px;

			}


		}

		.user-profile, .property-profile{

			padding: 0px;

			img{

				margin: 10px 0px 10px 0px;
				width: 100%;

			}

			.user-info, .property-info{

				h1{

					word-wrap: break-word;

				}

				h3{

					label{

						width: 150px;
						font-weight: bold;

					}

				}

				span{

					font-style: italic;

				}

				button, input[type=file], input[type=submit]{

					margin: 3px 0px 10px 0px;
					font-size: 12px;
					padding: 5px;

				}

				input[type=submit]{

					margin-top: 0px;

				}

				input[type=file]{

					width: 70%;
					font-size: 12px;
					float: left;

				}

				input[name=upload]{

					float: right;
					width: 25%;
					margin-top: 3px;
					padding: 8px;

				}

			}

			.custom-property{

				a{

					img{

						width: 100%;
						height: 300px;

					}

				}

				input[type=file]{

					width: 265px;
					font-size: 12px;
					padding: 8px;

				}

				input[type=submit], button{

					font-size: 12px;
					padding: 8px;

				}

				input[name=btn-save]{

					position: absolute;
					top: 325px;
					left: -472px;
					z-index: 9999;

				}

			}

			button{

				margin-bottom: 10px;

			}

		}

		.content-fields{

			.panel{

				ul{

					margin: 0px;

					li:hover{

						cursor: pointer;
						background: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
						background: -moz-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
						background: linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
						background: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);

					}

					.list-group-item{

						h6{

							padding: 5px 0 0 0;

						}

					}

				}

				table{

					.thead{

						background: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);
						background: -moz-linear-gradient(top,#428bca 0,#2d6ca2 100%);
						background: linear-gradient(top,#428bca 0,#2d6ca2 100%);
						background: -o-linear-gradient(top,#428bca 0,#2d6ca2 100%);
						color: #fff;

					}

					tr:hover{

						cursor: pointer;
						background: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
						background: -moz-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
						background: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
						background: linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);

					}

					.thead:hover{

						cursor: auto;
						background: -webkit-linear-gradient(top,#428bca 0,#2d6ca2 100%);
						background: -moz-linear-gradient(top,#428bca 0,#2d6ca2 100%);
						background: -o-linear-gradient(top,#428bca 0,#2d6ca2 100%);
						background: linear-gradient(top,#428bca 0,#2d6ca2 100%);
						color: #fff;

					}

					

				}

				div, p, h1, h2 ,h5 ,h6{

					color: #705D20;
					margin: 0px;
					padding: 0px 10px 10px 10px;

				}

				h3{

					margin: 0px;

				}

				h4{

					margin: 0px;
					padding: 10px 0 10px 10px;

				}

				.left{

					float: left;
					width: 28%;
					margin: 0px;
					min-height: 70px;
					word-wrap: break-word;
					margin-left: 2%;
					padding: 0px;

					img{

						width: 100%;
						margin: 0px;

					}

					h4{

						.online{

							margin: 0px;
							padding: 20px 0 0 0;
							color: #3e8f3e;
							font-weight: bold;

						}

						.offline{

							margin: 0px;
							padding: 20px 0 0 0;
							color: inherit;
							font-weight: bold;

						}

					}

				}

				.right{

					float: right;
					width: 70%;
					margin: 0px;
					position: relative;
					word-wrap: break-word;

				}

				.panel-heading{

					padding-top: 10px;

					.icon-pencil, .icon-paperplane, .icon-reply, .icon-envelope {

						float: right;

					}

					.stat{

						background:#5cb85c;

						a{

							color: #fff;
							width: 100%;

						}

						a:hover{

							border-top: 7px solid #555;
							border-bottom: 7px solid #555;
							border-radius: 3px;
							padding-top: 14px;
							padding-bottom: 14px;
							text-decoration: none;
							transition: .2s;

						}

						.active{

							border-top: 7px solid #555;
							border-bottom: 7px solid #555;
							border-radius: 3px;
							padding-top: 14px;
							padding-bottom: 14px;
							text-decoration: none;
							transition: .2s;

						}

					}

					.stat-title{



					}

				}

				.reply{

					max-width: 85% !important;
					max-height: 300px;
					min-height: 172px;
					margin: 10px 0px 10px 10px;
					display: inline-block;

				}

				.btn-reply{

					margin: 11px;
					float: right;
					width: 60px;
					position: relative;
					top: -297px;
					right: 5px;
					
				}

				.btn-reply1{

					margin: 11px;
					float: right;
					width: 60px;
					position: relative;
					top: -60px;
					right: 5px;

				}

				.img-attachment{

					width: 20%;
					margin: 0% 0% 3.7% 3.7%;

				}

				.uploader{

					margin-left: 10px;

				}

			}

			.support{

				padding: 10px;

			}


			.form-control{

				height: 30px;

			}

			label{

				font-size: 12px;
				margin-top: 10px;
				width: 100%;
				line-height: 2.5;
				padding: 8px;

			}

			input[type=submit], button{

				float: right;
				width: 75%;
				padding: 8px;
				font-size: 12px;

			}

			.new-ticket{

				position: absolute;
				top: -54px;
				right: -521px;

			}

			select{

				width: 100%;
				font-size: 12px;
				padding: 8px;

			}



		}

		.tab-field{

			padding: 10px;

			select, input[type=text], input[type=password], input[type=email]{

				width: 30%;
				padding: 5px;
				margin: 5px;
				display: inline;

			}

			label{

				padding: 0px;
				width: 150px;

				h6{

					font-style: italic;
					color: red;
					font-weight: bold;

				}

			}

		}

		.profile-field {

				select, input[type=text], input[type=password]{

					width: 50%;
					padding: 5px;
					display: inline;

				}

				label{

					padding: 0px;
					width: 200px;

					h6{

						font-style: italic;
						color: red;
						font-weight: bold;

					}

				}


			}


		.contact-fields{

			min-height: 100px;
			color: #333;

			a{

				img{

					width: 100%;
					margin-top: 10px;
					outline: 1px solid #eee;

				}

				img:hover{

					box-shadow: 0px 0px 20px #333;
					opacity: .8;

				}

			}


			h1, h2, h3 ,h4, h5 ,h6{

				padding: 0 10px 0 10px;
				word-wrap: break-word;

			}

		}

		.inner-container{

			min-height: 250px;
			background: #ccc;
			border-radius: 10px;

		}

		.support-nav{

			.nav{

				margin-top: 0px;

			}

		}



		.panel-heading{

			h1{

				margin: 0px;
				padding: 0px;
		
			}

		}

		/*Adding user notif*/

		.notification-false{

			background: #d9534f;
			color: #fff;
			padding: 10px;

		}

		.notification-true{

			background: #5cb85c;
			color: #fff;
			padding: 10px;

		}

		.panel{

			.btn{

				min-width: 50px;
				padding: 5px;

			}

			.btn-right{

				float: right;
				margin-left: 10px;
				top: -31px;
				position: relative;

			}

			.table{

				.thead{

					background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
					background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
					background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
					background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
					background-repeat: repeat-x;

				}

				.thead:hover{

					pointer: auto !important;

				}

			}

			

		}

		.custom-panel{

			border: none;

			.err-success{

				background-image: -webkit-linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
				background-image: -moz-linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
				background-image: -o-linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
				background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
				color: #fff;

			}

			.err-failed{

				background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
				background-image: -moz-linear-gradient(top,#d9534f 0,#c12e2a 100%);
				background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
				background-image: linear-gradient(top,#d9534f 0,#c12e2a 100%);
				color: #fff;

			}

			.err-notif{

				font-size: 15px;
				font-weight: bold;
				border-radius: none;

			}

		}

		.pagination-align{

			text-align: center;
			width: 100%;
			display: inline-block;

		}

	}

	#bg-login{

		background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		height: 5px;
		width: 100%;
		position: absolute;
		z-index: 9999;

	}

	#bg-login1{

		top: 141px;
		background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		height: 5px;
		width: 100%;
		position: absolute;
		z-index: 9999;

	}

	#bg-login2{

		background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		height: 150px;
		width: 100%;
		position: absolute;

	}

	.main-container{

		min-height: 100px;

		.login-logo{

			img{

				margin-top: 0px;
				width: 100%;

			}

		}

		.custom-label{

			margin-top: 20px;

			h2{

				margin: 0px;
				color: #428bca;

			}

		}

		.form-fields{

			padding: 0px 0px 0px 0px; 

			#reset-pword{

				padding: 10px 20px 20px 20px;
				border: 1px solid #333;
				min-height: 200px;
				position: absolute;
				margin-top: 130px;
				margin-left: 300px;
				width: 400px;
				background: #fff;
				box-shadow: 0px 0px 10px #333;
				z-index: 9999;

				h1{


					#close{

						color: red;
						float: right;

					}

					#close:hover{

						color: #333;
						text-decoration: none;


					}

				}

			}



			.reg{

				width: 60% !important;

			}

			#reset-uname{

				padding: 10px 20px 20px 20px;
				min-height: 200px;
				margin-left: 300px;
				width: 380px;

			}

			.link{

				color: red;
				background: none;
				border: none;
				margin-bottom: 12px;

			}

			.link:hover{

				text-decoration: underline;

			}

			input[type=text], input[type=password], select{

				margin-bottom: 12px;
				width: 100%;


			}

			button{

				margin-bottom: 12px;

			}

			textarea{

				height: 400px;

			}

		}

		.error{

			p{

				margin: 0px;
				padding: 0px;

			}

			#err-container{

				min-width: 100%;
				min-height: 100%;
				background: #333;
				opacity: .6; 
				z-index: 9999;
				left: 0px;
				overflow: hidden;
				position: fixed;
				cursor: pointer;

			}

			#error-msg{

				position: fixed;
   				margin-top: 200px;
				margin-left: 300px;
				width: 400px;
				z-index: 9999;
				font-weight: bold;
				padding: 0px;

				.link{

					color: red;
					background: none;
					border: none;
					margin-bottom: 12px;
					float: right;

				}

				.link:hover{

					color: #333;
					cursor: pointer;
					text-decoration: none;

				}

				h2{

					margin-top: 0px;
					margin-bottom: 0px;
					background: #ccc;

				}

				h3{

					background: #fff;
					padding: 10px;
					margin-top: 0px;
					border-left: 1px solid #ccc;
					border-right: 1px solid #ccc;
					border-bottom: 1px solid #ccc;
					min-height: 55px;

				}

			}

		}


		.custom-feature{

			height: 110px;

		}

		.form-line{

			
			height: 5px;
			margin: 10px;
			margin-top: 0px;

		}

		.form-feature{

			margin-top: 10px;

			img{

				width: 100%;

			}

		}
		
	}

	footer{

		/*background: #AC8719; */

		h3{

			margin-top: 50px;
			/*padding: 30px; */
			color: #000;
			font-weight: bold;

		}

	}

	ul{

		li{

			.alert{

				padding: 7px !important;
				border-radius: 0px;
				height: 32px;

				a{

					color: green;

				}

			}

		}

	}

	.user-container{

		padding: 10px;

		h1,h2,h3,h4,h5,h6{

			padding: 2px 0px 2px 0px;
			margin: 0px;
			word-wrap: break-word;

		}
	}

	.hidden{

		display: none;

	}

	.block-box{

		display: block;

	}

	.lytebox img:hover{

		box-shadow: 0 0 10px #000;
		transition: .3s;

	}

	.file_button_container,
	.file_button_container input {
	
	    height: 47px;
	    width: 263px;
	    margin: -8px 0px 5px 5px !important;
	
	}

	.file_button_container {
	
	    background: transparent url(http://i.stack.imgur.com/BT5AB.png) left top no-repeat;
	
	}

	.file_button_container:hover {
	
	    cursor: pointer;
	
	}

	.file_button_container input {
	
	    opacity: 0;
	
	}

	.file_button_container input:hover {
	
	    cursor: pointer;
	
	}

	.divider{

		height: 10px;
		margin: 0px;
		padding: 0px;

	}

	/*Bootstrap Modification*/

	.nav>li>a {

		padding: 6px 10px;

	}

	.nav{

		margin: 10px;
		z-index: 9999;
		position: fixed;
		top: 90px;
		background: whitesmoke;
		height: 32px;
		border-radius: 0px 0px 10px 10px;
		display: block;

	}

	.nav-bg{

		height: 32px;
		width: 100%;

	}

	.nav-pills>li>a {

		border-radius: 0px;

	}

	.nav-pills>li>a:hover {

		border-radius: 0px;

	}

	#myTab{

		position: relative !important;
		top: -15px;
		z-index: 5000;

	}

	#myTabContent{

		position: relative !important;
		top: -18px;

	}

	.tab-pane{

		top: 0px;
		position: relative;

	}

	#accounts,
	#b_list,
	#b_log,
	#addusers{

		top: 2px;
		position: relative;

	}

	.content, #classification{

		top: 12px;

	}

	.table{

		tr:hover{

			background: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
			background: -moz-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
			background: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
			background: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
			cursor: pointer;;

		}

	}

	.cust-panel{

		border-radius: 0px; 
		background-color: #f0f0f0;
		background-image: -moz-linear-gradient(top, #fdfdfd, #ddd);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#ddd));
		background-image: -webkit-linear-gradient(top, #fdfdfd, #ddd);
		background-image: -o-linear-gradient(top, #fdfdfd, #ddd);
		background-image: linear-gradient(to bottom, #fdfdfd, #ddd);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfdfd', endColorstr='#ffdddddd', GradientType=0);
		zoom: 1;
		border: 1px solid #9e9e9e;
		border-top: none; 

	}

	#thisarea_ifr:hover{

		cursor: pointer;

	}

	.link1{

		border: none;
		text-decoration: underline;
		color: #428bca;
		background: transparent;

	}

}