body{
	
	footer{

		margin-top: 20px;
		/*background: #AC8719; */

		p{

			color: #000;

		}

	}

	.footer{

		width: 100%;
		background: url( '../img/sources/header.png' );
		height: 110px;
		z-index: -9999;
		/*position: absolute;*/
		margin-top: 20px;

	}
	
}