body{
	
	$webfont: "open_sansregular";

	#main-wrapper{

		header{

			/**background: #AC8719;*/
			height: 100px;
			position: fixed; 
			z-index: 9999;
			top: 0px;
			display: block;

			#header-left{

				background: transparent;
				float: left;
				width: 22%;
				height: 100px;

				.header-logo{

					height: 100px;
					width: 203px;
					/*border-radius: 10px;*/
					z-index: 9999;
					position: absolute;
					/*top: 20px;*/	

					img{

						/*border-radius: 10px;*/
						width: 95%;

					}

					h3{

						background: #AC8719;
						color: #fff;
						padding: 5px 15px 5px 5px;
						font-style: italic;
						font-size: 13px;
						text-align: right;
						position: absolute;
						top: 61px;
						width: 77%;
						left: 45px;

					}

				}


				.header-line{

					height: 30px;
					background: #000080;
					width: 95%;
					position: absolute;
					top: 20px;
					left: 5%;

				}

			}

			#header-right{

				float: left;
				width: 75%;
				height: 100px;

				img{

					width: 100%;
					height: 10px;

				}
			
			}

		}

	}

	#bg-header{

		height: 100px;
		width: 100%;
		position: fixed;
		z-index: 9999;
		top: 0px;

		span{

			/*background: #FFF; */
			/*padding: 1.6em 0.8em;*/
			width: 70.6%;
			display: block;
			height: 10px;
			margin: 0 auto;

		}

	}

	#bg-header1{

		top: 0px;
		background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		height: 5px;
		width: 100%;
		position: fixed;
		z-index: 9999;

		span{

			/*background: #FFF; */
			/*padding: 1.6em 0.8em;*/
			width: 70.6%;
			display: block;
			height: 30px;
			margin: 0 auto;

		}

	}

	#bg-header3{

		top: 105px;
		background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		height: 5px;
		width: 100%;
		position: fixed;
		z-index: 9999;

		span{

			/*background: #FFF; */
			/*padding: 1.6em 0.8em;*/
			width: 70.6%;
			display: block;
			height: 30px;
			margin: 0 auto;

		}

	}

	#bg-header2{

		top: 142px;
		background: -webkit-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: -moz-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		background: linear-gradient(to bottom, #428bca 0%, #2d6ca2 100%);
		background: -o-linear-gradient(top, #428bca 0, #2d6ca2 100%);
		/*background: #AC8719;*/
		height: 5px;
		width: 100%;
		position: fixed;
		z-index: 9999;

		span{

			/*background: #FFF; */
			/*padding: 1.6em 0.8em;*/
			width: 70.6%;
			display: block;
			height: 30px;
			margin: 0 auto;

		}

	}

}