/*=== Media Queries ===*/


/* TABLE LANDSCAPE */
@media only screen and (max-width: 1023px) {
	

}	

@media only screen and (max-width: 960px) {
	
}

@media only screen and (max-width: 850px) {

	
}


@media only screen and (min-width: 769px) {

	



}


/* TABLE POSTRAIT (1) */
@media only screen and (max-width: 768px) {

	
}


/* (1) */
@media only screen and (max-width: 480px) {
	

}



@media only screen and (max-width: 380px) {

}

/* (1) */
@media only screen and (max-width: 320px) {
	
	

	 		
}
