body{
	
	aside{



	}

	.user-sidebar{

		margin-top: 120px;

		.panel{

			.list-group{

				margin-top: 0px;

				li{

					-webkit-transition: 1s;
					-moz-transition: 1s;
					-o-transition: 1s;
					transition: 1s;

				}

				li:hover{

					background: -webkit-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
					background: -moz-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
					background: linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
					background: -o-linear-gradient(top, #f5f5f5 0, #e8e8e8 100%);
					cursor: pointer;

				}

				li.active:hover{

					background: linear-gradient(to bottom,#428bca 0,#3278b3 100%);
					background: -moz-gradient(to bottom,#428bca 0,#3278b3 100%);
					background: -webkit-gradient(to bottom,#428bca 0,#3278b3 100%);
					background: -o-gradient(to bottom,#428bca 0,#3278b3 100%);

				}

			}

			.user{

				background-image: -webkit-linear-gradient(to bottom,#5cb85c 0,#419641 100%);
				background-image: -moz-linear-gradient(to bottom,#5cb85c 0,#419641 100%);
				background-image: -o-linear-gradient(to bottom,#5cb85c 0,#419641 100%);
				background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
				color: #fff;
				outline: none;
				border: none;

			}

		}

	}



}