* {
  margin: 0;
}
html, body {
  height: 100%;
  overflow-x: hidden;
  padding: 0;
}
.wrapper {
  min-height: 81%;
  height: auto !important;
}
.footer, .push { 
  clear: both;
}
.footer{
    background-color: #efefef;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
	background-color: rgba(0, 153, 255, 0.5);
}
.bg {
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -999;
    opacity: 0.5;
}
.home {
	background: 
		linear-gradient(
		    rgba(0, 0, 0, 0.5), 
		    rgba(0, 0, 0, 0.5)
	    ),
		url("../../assets/img/bg/home.jpg") 
		no-repeat scroll center center / cover ;
}
.login {
	background: 
		linear-gradient(
		    rgba(0, 0, 0, 0.5), 
		    rgba(0, 0, 0, 0.5)
	    ),
		url("../../assets/img/bg/login.jpg") 
		no-repeat scroll center center / cover ;
}
.navbar-nav {
	margin: 30px 0 0 5% !important;
}
.navbar-nav > li {
    float: left;
    padding: 0 10px;
    margin: 0;
}
.navbar-nav > li > a {
	border-top: 1px solid;
	color: #0172bc !important;
	padding: 10px;
}
.navbar-nav > li .active > a, .navbar-nav > li .open > a {
	font-weight: bold;
	background-color: transparent;
}
.navbar-nav > .active > a, .navbar-nav > .open > a{
	border-top: 5px solid;
	font-weight: bold;
	background-color: transparent !important;
	background-image: none !important;
	box-shadow: none !important;
}
.h_overlay {
	width: 50%;
	background-color: 	rgb(1, 114, 188);
	opacity: 0.7;
	float: right !important;
	position: absolute;
	min-height: 100%;
	margin: -10px;
}
.dropdown-menu {
	border-radius: 0;
	min-width: 100%;
	padding: 0;
}
.dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 10px 20px;
    white-space: nowrap;
}
.quote {
	color: white;
    vertical-align: middle;
    float: right;
    max-height: 400px;
    min-height: 400px;
    max-width: 60%;
    margin: 100px 0;
    padding: 0 20px;
    font-variant: small-caps;
}
.q_header {
	display: block;
    float: right;
    font-size: 80px;
    font-weight: bold;
	
}
.q_body {
	display: block;
    float: right;
    font-size: 40px;
    font-variant: small-caps;
    max-width: 100%;
    min-width: 100%;
    text-align: right;
    word-wrap: break-word;
}
.q_footer {
    display: block;
    float: right;
    font-size: 18px;
}
.panel {
	background-color: transparent;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
    border-radius: 0;
}
tr > td, tr > th {
	border-top: none !important;
	border-bottom: none !important;  
	vertical-align: middle!important;
}
.t_header {
	background-color: rgb(166, 166, 166);
	color: white;
	border: none;
}
.t_header > th {
	text-align: center;
	max-width: 200px;
	min-width: 200px;
}
.t_data > td {
	border-left: 1px solid white;
	border-right: 1px solid white;
	max-height: 106px;
	max-height: 106px;
	height: 106px;
	text-align: center;
	vertical-align: middle;
	padding: 0;
	max-width: 200px;
	min-width: 200px;
}
.t_data > td > p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.t_data > td:hover{
	/*background: rgba(51, 133, 255, 0.5);*/
	background: -moz-linear-gradient(bottom, rgba(51, 133, 255, 0.5),rgba(255, 255, 255, 0.5));
}
.t_data > td > div {
	background-color: white;
	color: rgb(1, 114, 188);
}
.t_data:nth-child(even) {
	background: rgba(255, 255, 255, 0.5);
}
.t_data:nth-child(odd) {
	background: transparent;
}
.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-content {
	border-radius: 0;
}
.train {
	width: 100%;
	height: 30px;
}
.train > td {
	border: 1px solid black;
	vertical-align: center;
	font-size: 16px;
}
.train > td > div > span {
	float: right;
	cursor: pointer;
	font-weight: bold;
	font-size: 2rem;
}
.cont {
	max-height: 210px;
	overflow: auto;
	margin-bottom: 20px;
}
.panel-collapse > .panel-body{
	padding: 0px;
}
ul > li {
	 list-style-type: none;
}
.panel-body > ul {
	margin: 0px;
	padding: 0px;
}
.panel-body > ul > li {
	border-bottom: 1px solid white;
	background: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);;
}
.panel-body > ul > li > a {
	display: block;
	line-height: 30px;
	padding: 4px 0px 4px 40px;
	text-decoration: none;
}
#accordion > .panel-default {
	margin: 0px;
	font-weight: bold;
}
#accordion > .panel-default > .panel-heading{
	border-bottom: 1px solid #ccc;
	border-radius: 0px; 	
}
#settings_menus{
	color: #0172bc !important;
	height: 600px;
	background: white;
	padding: 0px;
}
.title {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 40px;
	color: rgb(1, 114, 188);
}
.data_click:hover {
	background: rgb(166, 166, 166) !important;
	cursor: pointer;
}
.panel-body, .trans {
	background: rgba(255, 255, 255, 0.5);
}
.data_click:nth-child(even) {
	background: rgba(255, 255, 255, 0.5);
}
.data_click:nth-child(odd) {
	background: transparent;
}
.ifield {
	width: 500px;
	margin-bottom:20px; 
}
table > tbody > tr > td {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
h1,h2,h3,h4,h5,h6 {
	color: white;
}