@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?e9mbqw');
    src:    url('fonts/icomoon.eot?e9mbqw#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?e9mbqw') format('truetype'),
        url('fonts/icomoon.woff?e9mbqw') format('woff'),
        url('fonts/icomoon.svg?e9mbqw#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user3:before {
    content: "\e908";
}
.icon-user4:before {
    content: "\e909";
}
.icon-new2:before {
    content: "\e638";
}
.icon-search:before {
    content: "\e62f";
}
.icon-lock:before {
    content: "\e628";
}
.icon-trash:before {
    content: "\e625";
}
.icon-paperplane:before {
    content: "\e61e";
}
.icon-clip:before {
    content: "\e610";
}
.icon-message:before {
    content: "\e618";
}
.icon-new:before {
    content: "\e615";
}
.icon-circle-with-cross:before {
    content: "\e63a";
}
.icon-user-add:before {
    content: "\e62c";
}
.icon-directions:before {
    content: "\e60d";
}
.icon-record:before {
    content: "\e624";
}
.icon-check-alt:before {
    content: "\e63b";
}
.icon-bullhorn:before {
    content: "\e629";
}
.icon-notebook:before {
    content: "\e62b";
}
.icon-search2:before {
    content: "\e630";
}
.icon-pie:before {
    content: "\e62a";
}
.icon-numbered-list2:before {
    content: "\e62d";
}
.icon-eye:before {
    content: "\e62e";
}
.icon-loop:before {
    content: "\e631";
}
.icon-reset:before {
    content: "\e626";
}
.icon-email:before {
    content: "\e603";
}
.icon-home:before {
    content: "\e60e";
}
.icon-pencil:before {
    content: "\e61c";
}
.icon-image:before {
    content: "\e611";
}
.icon-profile:before {
    content: "\e604";
}
.icon-file:before {
    content: "\e613";
}
.icon-folder:before {
    content: "\e617";
}
.icon-ticket:before {
    content: "\e627";
}
.icon-phone:before {
    content: "\e609";
}
.icon-address-book:before {
    content: "\e605";
}
.icon-envelope:before {
    content: "\e622";
}
.icon-pushpin:before {
    content: "\e61f";
}
.icon-calendar:before {
    content: "\e608";
}
.icon-calendar2:before {
    content: "\e60a";
}
.icon-mobile:before {
    content: "\e60b";
}
.icon-reply:before {
    content: "\e61d";
}
.icon-user:before {
    content: "\e600";
}
.icon-users:before {
    content: "\e619";
}
.icon-user2:before {
    content: "\e61a";
}
.icon-key:before {
    content: "\e601";
}
.icon-switch:before {
    content: "\e61b";
}
.icon-numbered-list:before {
    content: "\e607";
}
.icon-globe:before {
    content: "\e614";
}
.icon-flag:before {
    content: "\e620";
}
.icon-notification:before {
    content: "\e621";
}
.icon-info:before {
    content: "\e606";
}
.icon-cancel-circle:before {
    content: "\e602";
}
.icon-radio-unchecked:before {
    content: "\e623";
}
.icon-code:before {
    content: "\e60c";
}
.icon-file-pdf:before {
    content: "\e612";
}
.icon-wrench:before {
    content: "\e634";
}
.icon-settings:before {
    content: "\e635";
}
.icon-equalizer:before {
    content: "\e636";
}
.icon-cog2:before {
    content: "\e637";
}
.icon-cogs:before {
    content: "\e632";
}
.icon-cog:before {
    content: "\e633";
}
.icon-bin:before {
    content: "\e639";
}
.icon-clippy:before {
    content: "\f035";
}
.icon-bubble:before {
    content: "\e900";
}
.icon-bubbles:before {
    content: "\e901";
}
.icon-bubbles2:before {
    content: "\e902";
}
.icon-file-text2:before {
    content: "\e903";
}
.icon-file-music:before {
    content: "\e904";
}
.icon-file-picture:before {
    content: "\e905";
}
.icon-file-play:before {
    content: "\e906";
}
.icon-file-zip:before {
    content: "\e907";
}
.icon-forward:before {
    content: "\e90a";
}
.icon-check:before {
    content: "\e616";
}
.icon-fax:before {
    content: "\e60f";
}

